.homepage-wrapper {
  margin-top: -60px;
}

.parallax-wrapper:first-of-type {
  height: 600px;
}

.parallax-wrapper:first-of-type .parallax-title {
  color: white;
  z-index: 10;
  text-shadow: 0 0 10px rgba(0,0,0,0.5),0 1px 4px rgba(0,0,0,0.5);
}

.parallax-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.parallax-wrapper:first-of-type::before {
  content: ' ';
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}

.parallax-title {
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.3);
}

.homepage-content {
  padding: 60px 0 40px 0;
}

hr.fancy {
  margin-top: 30px;
}

hr.fancy::before {
  content: '§';
  display: inline-block;
  position: relative;
  top: -0.8rem;
  background: white;
  padding: 0 5px;
}

.icon-wrapper img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.imagelink img {
  width: 100px;
  height: 100px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 20px;
  margin-bottom: 0px;
}