.image-center {
    max-width: 100% !important;
    height: auto !important;
    margin: 0 auto !important;
}

.tech-stack .row {
    justify-content: space-around;
}

.tech-stack .col {
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-width: 25%;
}

.tech-stack .card {
    padding: 10px;
    margin: 10px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}