h5 {
  margin-top: 20px;
}

.card-img-top {
  display: block;
}

.team-card p {
  margin: 0;
}

.team-card .bio {
  margin-bottom: 1rem;
}

.team-card h5 {
  margin-bottom: 0;
}

.team-card .role {
  color: gray;
}
